body {
  font-family: sans-serif;
  margin: 0;
}

.header {
  background-color: blue;
  display: flex;
  justify-content: center;
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .title {
  font-size: 40px;
}

.content {
  background-color: green;
  line-height: 2;
}

.footer {
  background-color: red;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 16px;
  position: sticky;
  z-index: 1;
}
